<form [formGroup]="form" (ngSubmit)="submit(form)">
  <h1>Please enter your details for successful sign in</h1>
  <div class="form-group">
    <label for="username">Username:</label
    ><input type="text" class="form-control" formControlName="username" />
    <div
      *ngIf="username.touched && username.invalid"
      class="alert alert-danger"
    >
      <div *ngIf="username.errors.required">
        Username is required.
      </div>
      <div *ngIf="username.errors.minlength">
        Username should contain minimum
        {{ username.errors.minlength.requiredLength }} characters
      </div>
      <div *ngIf="username.errors.pattern">
        Username cannot contain special characters.
      </div>
      <div *ngIf="username.errors.cannotContainSpace">
        Username cannot contain space.
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="password">Password:</label
    ><input type="password" class="form-control" formControlName="password" />
    <div
      *ngIf="password.touched && password.invalid"
      class="alert alert-danger"
    >
      <div *ngIf="password.errors.required">
        Password is required.
      </div>
    </div>
  </div>
  <p>{{ form.value | json }}</p>

  <div class="btn-toolbar">
    <button class="btn btn-primary btn-sm" [disabled]="form.invalid">
      Sign Up
    </button>
    <button class="btn btn-primary btn-sm" [routerLink]="['/**']">
      Forget Password
    </button>
    <button class="btn btn-primary btn-sm" [routerLink]="['/changepassword']">
      Change Password
    </button>
  </div>
</form>
