<form [formGroup]="f" (ngSubmit)="changePassword(f)">
  <div class="form-group">
    <label for="oldpassword">Old Password:</label
    ><input
      type="password"
      class="form-control"
      formControlName="oldpassword"
      id="oldpassword"
    />
  </div>
  <div *ngIf="oldpassword.touched && oldpassword.invalid">
    <div *ngIf="oldpassword.errors.required" class="alert alert-danger">
      Old Password is required.
    </div>
    <div
      *ngIf="oldpassword.errors.oldPasswordShouldbeValid"
      class="alert alert-danger"
    >
      OldPassword should match.
    </div>
  </div>
  <div class="form-group">
    <label for="newpassword">New Password:</label
    ><input
      type="password"
      class="form-control"
      formControlName="newpassword"
      id="newpassword"
    />
  </div>
  <div
    *ngIf="newpassword.touched && newpassword.invalid"
    class="alert alert-danger"
  >
    <div *ngIf="newpassword.errors.required">New Password is required.</div>
    <div *ngIf="newpassword.errors.pattern">
      Password must have atleast 6 characters with atleast one capital, one
      small and a special character
    </div>
  </div>
  <div class="form-group">
    <label for="confirmpassword">Confirm Password:</label
    ><input
      type="password"
      class="form-control"
      formControlName="confirmpassword"
      id="confirmpassword"
    />
  </div>
  <div
    *ngIf="confirmpassword.touched && confirmpassword.invalid"
    class="alert alert-danger"
  >
    <div *ngIf="confirmpassword.errors.required">
      Confirm Password is required.
    </div>
  </div>
  <div
    *ngIf="confirmpassword.valid && f.invalid && f.errors.passwordShouldMatch"
    class="alert alert-danger"
  >
    New and confirm password must be same.
  </div>
  <p>{{ f.value | json }}</p>
  <button
    class="btn btn-primary btn-sm"
    [disabled]="f.invalid"
    [routerLink]="['']"
  >
    Change Password
  </button>
</form>
